extends base
block content 
  .login-container
    .login-card
      label(for="email") Email
      input#email(type="email" placeholder="Enter your email" required)
      
      button.forgotBtn.btn Send code
      p.signup-text
        | Don't have an account? 
        a(href="/signup") Signup