extends base
block content
  .login-container
    .login-card
      h2 Reset Password
      label(for="email") New password
      input#new-password(type="password" placeholder="Enter new password" required)
      
      label(for="password") Confirm password
      input#confirm-password(type="password" placeholder="Confirm your new password" required)
      
      button#resetPassword.btn Change Password
      p.signup-text
        | Do not share your password with anyone! 
      p.signup-text
        | -@Admin FRDM
