extends base
block content 
  .dashboard
    aside.sidebar
      //- h2.logo MyApp
      nav
        ul
          li: a(href="/about") My Account
          li: a(href="/my-comments") My Comments 
          li: a(href="/post-recipe") Post Blog/Recipe
          li: a(href="/comments") User management

    // Main content
    main.content
      block mainContent
        