extends base
block content 
  .dashboard
    aside.sidebar
      //- h2.logo MyApp
      nav
        ul
          -const bool = (user.role==='collaborator'||user.role==='admin')
          -const boolA = (user.role==='admin')
          li: a(href="/about") My Account
          li: a(href="/my-comments") My Comments 
          li
            if(bool)
              a(href="/post-recipe") Post Blog/Recipe
          li
            if(boolA)
              a(href="/user-management") User management

    // Main content
    main.content
      block mainContent
        