extends sidebar

block mainContent
  section.section-container
    h2.section-title Upload Blog & Recipe

    // Blog Section
    .blog-section
      h3 Blog
      .field
        label Title:
        input#blogTitle(type="text" placeholder="Enter blog title")
      .field
        label Photo:
        input#blogPhoto(type="text" placeholder="Enter image link")
      .field
        label Description:
        textarea#blogDescription(placeholder="Enter blog description")
      button.postBlog Post Blog

    // Recipe Section
    .recipe-section
      h3 Recipe
      .field
        label Title:
        input#recipeTitle(type="text" placeholder="Enter recipe title")
      .field
        label Photo:
        input#recipePhoto(type="text" placeholder="Enter recipe photo")
      .field
        label Description:
        textarea#recipeDescription(placeholder="Enter recipe description")
      .field
        label How to Cook:
        textarea#howToCook(placeholder="Steps to cook...")
      .field
        label Ingredients:
        input#ingredients(type="text" placeholder="apple, 2 cups sugar, ...")
      .field
        label Time:
        input#time(type="text" placeholder="30 minutes")
      .field
        label Calories:
        input#calories(type="text" placeholder="450 kcal")
      button.postRecipe Post Recipe
